{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block body%}
<div class="container-fluid text-center">
  {% if error %}
  <br>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Holy guacamole!</strong> {{ error }}
</div>
  {% endif %}
  <br>
  <h1> Graphify </h1>
  <p> allows you to search for the most common word in a text file and
      display it in a graph.</p>
      <div class="row">
          <div class="col-md-12" id="centered">
        {% if data and labels and not error %}
            <canvas id="myChart" width="400" height="400"></canvas>
            <br>
            <a href="{% url 'graphify:home'%}" class="btn btn-secondary">Try Again</a>
        {% else %}
            <form action=""  enctype="multipart/form-data" method="POST">
              {{ form.as_p }}
              {% csrf_token %}
              <br>
              <input type="submit" name="graphify" class="btn btn-secondary" value="graphify">
            </form>
      {% endif %}
          </div>
      </div>
</div>
{% endblock%}

{% block javascript %}
{% if labels and data %}
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      {% autoescape off %}
        labels: {{ data }},
        datasets: [{
            label: 'Most Common words',
            data: {{ labels }},
      {% endautoescape %}
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endif %}
{% endblock %}
